h1 {
  background-color: rgb(245, 155, 170);
  color: rgb(230, 225, 225);
  
  
}
h2 {
  background-color: rgb(230, 225, 225);
  color: rgb(223, 62, 196);
  
  
}

h3 {
  background-color: rgba(231, 247, 88, 0.931);

}

.links {
    background-color: rgb(67, 215, 241);
}
.bottom {
    color: rgb(67, 215, 241);
    text-decoration: underline;
    font-weight: bold;
}
.color {
    background-color: rgb(230, 90, 171);;
}

.second {
  font-weight: bold;


